.page-header {
  position: relative;
}

.site-nav {
  display: flex;

  @media screen and (min-width: 480px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

/* лого */

.logo {
  @extend %link;
  color: $title-text-color;
  font-family: $font-family-secondary;
  font-weight: 700;
  letter-spacing: 0.03em;

  @media screen and (min-width: 480px) {
    padding: 16px 0px;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0px;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1140px) {
    padding: 24px 0px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.web {
  color: $accent-color;
}
