footer {
  background-color: #2f303a;
}

.footer-flex {
  padding: 60px 0px;
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-info,
.footer-join {
  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-logo {
  @extend %link;
  color: $primary-white-color;
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

address a {
  @extend %link;
  display: block;
  margin-top: 10px;
  color: $primary-white-color;
  font-style: normal;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts {
  @extend %list;
  display: block;
  background-color: #2f303a;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-contacts-link {
  @extend %link;
  margin-top: 9px;
}

/* соцсети */

.footer-join {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 69px;
  }
}

.socials-subtitle {
  margin: 0;
  color: $primary-white-color;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-socials {
  @extend %list;
  display: flex;
  margin-top: 21px;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.socials-item {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.socials-link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: #2196f3;
  }
}

.social-icon.footer {
  fill: $primary-white-color;
}
