.page-header {
  position: relative;
}

.site-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

/* лого */

.logo {
  @extend %link;
  color: $title-text-color;
  font-family: $font-family-secondary;
  font-weight: 700;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding: 16px 0px;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0px;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.web {
  color: $accent-color;
}

.menu-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-closed {
  display: none;
}

.menu-button.is-open .icon-closed {
  display: block;
}

.menu-button.is-open .icon-opened {
  display: none;
}
