.examples-flex {
  @extend %list;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.examples-animation:hover,
.examples-animation:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover .examples-text,
  &:focus .examples-text {
    opacity: 1;
    transform: translateY(-100%);
    z-index: 3;
  }
}

.examples-item {
  @extend %link;
  border-radius: 5px;
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  &:nth-child(-n + 8) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  &:nth-child(2n) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  &:nth-child(3n) {
    @media screen and (min-width: 1200px) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }
}

.thumb {
  @media screen and (min-width: 480px) {
    height: 294px;
  }
}

.img-card {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.box {
  position: relative;
  overflow: hidden;
}

.examples-text {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-family-primary;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: $primary-white-color;
  transition: $transition-form;
  opacity: 0;

  @media screen and (max-width: 767px) {
    padding: 77px 24px;
  }

  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }
}

.examples-info {
  border: 1px solid #eeeeee;
  border-top: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 24px;
}

.examples-title {
  margin: 0px;
  color: $title-text-color;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.examples-title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.examples-subtitle {
  margin-top: 4px;
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
